# Groq AI
GROQ_API_KEY=
GROQ_MEDICAL_MODEL=
GROQ_FAST_MODEL=
GROQ_WHISPER_MODEL=

# Supabase PostgreSQL
DATABASE_URL=

# InfluxDB Cloud
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

# Auth
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# SMS
FAST2SMS_API_KEY=

# App
FRONTEND_URL=
ENVIRONMENT=
