fastapi
email-validator
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
groq
influxdb-client
aiohttp
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
fpdf2
httpx
gtts
python-dotenv
websockets
